@font-face {
    font-family: domain;
    src: url(./fonts/domain.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color: #222;
    overflow-x: hidden;
}

#page1{
    min-height: 110vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
    overflow-x: hidden;
}

#page1::-webkit-scrollbar{
    display: none;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img{
    height: 200px;
    width: 200px;
}

#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}

#nav i{
    width: 30%;
    text-align: right;
}

#elems{
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 60px;
}

#elem1{
    width: 30%;
    height: 100%;
}

#elem2{
    width: 30%;
    height: 100%;
    border-right: 2px solid #acacac;
    padding: 10px 2px;
    text-align: center;
    border-left: 2px solid #a3a3a3;
}

#elem3{
    width: 30%;
    height: 100%;
}

#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img{
    transform: scale(1.1);
}

#elem1 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem1 h4 span{
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;    
}

#elem1 p{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: domain;
    font-weight: 100;
    color: #656565;
}

#elem3 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem3 h4 span{
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;    
}

#elem3 p{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: domain;
    font-weight: 100;
    color: #656565;
}

#elem2 h2{
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
}

#elem2 h3{
    font-family: domain;
    font-size: 45px; /*50px*/
    color: #2f2f2f;
    font-weight: 100;
    margin: 20px 0;    
}


#elem2 h6{
    font-family: domain;
    font-size: 20px;
    color: #2f2f2f;
    font-weight: 100;    
}


#page1 h1{
    min-height: 100%;
    /* min-width: 100%; */
    /* font-size: 370px;size -670px */
    font-size: 22.8vw;
    letter-spacing: -20px;
    font-weight: 100;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    line-height: 540px;/* 600px */
    width: 100%;
    margin-left: 2%;
    text-align: center;
}
 
#page2 {
    height: 150vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
}

#page2-left{
    height: 100%;
    padding-right: 50px;
    width: 35%;/*40%*/
    /* background-color: red; */
    border-right: 1px solid #4b4b4b;
}

#page2-left h2{
    font-size: 130px;
    font-family:canopee;
    line-height: 110px;
    font-weight: 100;
}

#page2-left h2 span{
    font-size: 130px;
    font-weight: 300;
}

#page2-left img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-left p{
    font-size: 30px;
    font-family: domain;
    color: #2f2f2f;
    margin-top: 2px;
}

#page2-right{
    height: 100%;
    width: 75%;
    padding: 0 60px;
    /* background-color: red; */
}

#page2-right img{
    height: 53%;
    width: 100%;
    object-fit: cover;
}

#page2-right h1{
    font-family: canopee;
    font-size: 80px;
    letter-spacing: -1px;
    font-weight: 100;
}

#page3{
    height: 50vh;
    position: relative;
    background-color: #C4BCB3;
}

#page3 h1{
    font-size: 250px;
    font-weight: 100;
    letter-spacing: -10px;
    background-color: #1C1C19;
    width: fit-content;
    color: #C4BCB3;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 300px;
    font-family: canopee;
    text-transform: uppercase;
}

#page3 img{
    height: 300px;
    position: absolute;
    top: 0;
    right: 2%;
}


#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C4BCB3;
}

#page4-left{
    width: 65%;
    height: 100%;
    padding: 80px 60px;
}

#page4-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-right{
    width: 35%;
    height: 100%;
    /* background-color: red; */
    padding: 80px 60px;
}

#page4-right p{
    font-size: 30px;
    font-family: domaine;
    font-weight: 100;
    color: #2f2f2f;
    margin-bottom: 50px;
    line-height: 35px;
}

#page4-right #anda{
    height: 150px;
    width: 100%;
    background-color: #CAC1B6;
    border: 1px solid #2f2f2fc6;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#anda h1{
    font-size: 50px;
    font-weight: 100;
    font-family: canopee;
    width: 100%;
    height: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-40%);
    transition: all ease 0.6s;
}

#anda img{
    height: 50px;
    transform: translateX(-120%);
    transition: all ease 0.6s;
}

#anda:hover img{
    transform: translateX(40%);/*75%*/
}

#anda:hover h1{
    transform: translateX(120%);/*100*/
}

#page5{
    padding: 30px 0;
    width: 100%;
    background-color: #C4BCB3;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    border: 1px solid #2f2f2fc6;
    /* margin-top: 1.2rem; */
}

#page5::-webkit-scrollbar{
    display: none;
}
#page5 h1{
    font-size: 75px;/*100px*/
    font-family: domain;
    font-weight: 100;
    display: inline-block;
    /* background-color: red; */
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* margin-top: 1.2rem; */
}

#page5 h1 span{
    font-family: canopee;
    background-color: #2f2f2f;
    color: #C4BCB3;
    padding: 0 12px;
}
#page6{
    height: 100px;  
    width: 100%;
    background-color: #C4BCB3;
}

#elem2-2part h2{
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
}

#elem2-2part h3{
    font-family: domain;
    font-size: 45px; /*50px*/
    color: #2f2f2f;
    font-weight: 100;
    margin: 20px 0;    
}


#elem2-2part h6{
    font-family: domain;
    font-size: 20px;
    color: #2f2f2f;
    font-weight: 100;    
}

#page8{
    background-color:#C4BCB3;
    /* border: 2px solid #1C1C19; */
    height: 200px;
    width: 100%;
    margin: 10px 10px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}
/* #page8 h1{
    font-family: canopee;
} */
#page8 h1 span{
    font-family: domain;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 34px));
    }
}

#page5:hover h1{
    animation-play-state: paused;
}

#page6{
    min-height: 90vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 100px;
}

#page7{
    height: 85vh;
    width: 100vw;
    background-color: #4b4b4b;
    position: relative;
    overflow-x: hidden;
}
.elem-imgs{
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.elem-imgs img{
    opacity: 0;
    position: absolute;
    transition: all ease-out 0.5s;
    transform: translateX(10%) rotate(2deg);
    /* cursor: pointer; */

}

.elem-imgs img:nth-child(1){
    left: 1%;
    height: 200%;
}

.elem-imgs img:nth-child(3){
    right: 3%;
    height: 200%;
}
.text-div{
    /* background-color: lightblue; */
    height: 120px;
    overflow: hidden;
}
.elem-imgs h1{
    font-size: 7.3vw;
    transition: all ease-out 0.5s;
    /* text-transform: uppercase; */
}

.elem-imgs:hover h1{
    transform: translateY(-100%);
    color: rgb(156, 117, 43);
    /* color:#EDBFFF ; */
    /* color: ; */
}

.elem-imgs:hover img{
    opacity: 1;
    transform: translateX(0%) rotate(0deg);
}


/* animated cursor
.cursor{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: all ease-out 0.2s;
    z-index: 9;
    mix-blend-mode: difference;
} */

/* footer*/

/* .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #263238;
    text-align: center;
    color: #f4f4f4;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
} */

@media (max-width:481px) {
    #page1 {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }

    #nav {
        height: 80px;
        margin: 0 2rem;
        width: 100%;
        padding: 20px 40px;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #elems {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    #elem1,
    #elem2,
    #elem3 {
        width: 85%;
        border: none;
        padding: 0 0 0 50px;
        margin-bottom: 20px;
        text-align: center;
    }

    #image-div{
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #elem2 h2{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
    }

    #elem1 h4,
    #elem3 h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
    }

    #elem2 h6{
        display: none;
    }

    #elem2 h3{
        font-size: 2rem;
        text-align: center;
        font-weight: 400;
    }
    #elem1 p,
    #elem3 p {
        font-size: 1.1rem;
    }

    #page1 h1 {
        font-size: 6.5rem;
        letter-spacing: 2px;
        line-height: 1;
        font-weight: 300;
    }

    #page2 {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }

    #page2-left,
    #page2-right {
        /* height: 100%; */
        width: 100%;
        padding: 0;
        text-align: center;
        /* border-right: none; */
    }

    #page2-left h2 {
        font-size: 2.3rem;
        line-height: 1.1;
        font-weight: 300;
        /* display: flex;
        align-self: center;
        justify-content: space-around; */
        text-align: left;
    }

    #page2-left h2 span{
        font-size: 5.4rem;
        line-height: 1.2;
    }

    #page2-left img{
        height: 70%;
        width: 85%;
    }
    
    #page2-right img{
        height: 30%;
        width: 85%;
    }

    #page2-left p {
        font-size: 15px;
    }

    #page2-right h1 {
        font-size: 50px;
        letter-spacing: -1px;
    }
    #page3 {
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    #page3 h1 {
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 20px;
    }

    #page3 img {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #page4 {
        flex-direction: column;
        align-items: center;
    }

    #page4-left,
    #page4-right {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 20px;
    }

    #page4-left img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    #page4-right p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    #page4-right #anda {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #anda h1 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    #anda img {
        height: 20px;
        margin-top: 10px;
    }
}